*.json
*.log
*.md

!package.json
!package-lock.json

.env
.gitignore
.idea/**/*
.nyc_output
coverage/
config/development.json
doc/
Dockerfile
node_modules/
out/
package-lock.json
temp/
tmp/
src/
yarn.lock
